*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: black;
  height: 100vh;
  background-color: #570a57;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  max-width: 500px;
  border: 1px solid black;
  padding: 50px;
  border-radius: 20px;
  background-color: #2e0249;
  border: 2px solid white;
}

.display-container {
  background-color: white;
  position: relative;
  padding: 30px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  margin-bottom: 30px;
  color: #a91079;
}

.display-container::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #2e02493f;
  /* filter: drop-shadow(16px 16px 20px red) invert(75%); */
}

.buttons {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.option {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.option button {
  flex: 1;
}

.buttons .operations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-weight: 600;
  color: white;
  background-color: #a91079;
  border: none;
  border-radius: 10px;
  border: 2px solid white;
  transition: all 0.3s;
}

.display {
  /* padding: 30px; */
  font-size: 50px;
}

.option button {
  background-color: white;
  color: #a91079;
  border: 5px solid #a91079;
}

button.operation {
  background-color: white;
  color: #a91079;
  border: 2px solid #a91079;
  font-size: 27px;
}

button:hover {
  transform: scale(0.85);
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}

button:active {
  transform: scale(1.1);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}
